# OS / IDE
.DS_Store
.ipynb_checkpoints/
.vscode/
__pycache__/
*.pyc

# env & secrets
.env
.venv/

# data: non versionnées (on garde les .gitkeep)
data/raw/**
data/interim/**
data/processed/**
!data/**/.gitkeep
